html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.content {
    width: min(100% - 48px, 1170px);
    margin-left: auto;
    margin-right: auto;
}

/* #: Common */
button {
    outline: none;
    border: none;
    background: #fecade;
    border-radius: 999px;
    padding: 12px 22px;
    color: #444;
    cursor: pointer;
}

/* # Common */


/* #: Video */
.video {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100dvh;
}

.video-name {
    margin-top: 20px;
    color: #10375C;
    text-align: left;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.video-controls {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.video-control {
    font-weight: 700;
    font-size: 1.8rem;
}
/* # Video */